# Copy this file to .env.development, .env.production or .env.local
# and fill values accordingly.

# Public (exposed to client) - non-secret
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_LLM_API_BASE_URL=
# Temporary: If OTP proxy is not implemented yet
NEXT_PUBLIC_OTP_API_KEY=

# Server-only secrets (do NOT prefix with NEXT_PUBLIC_)
# OTP_API_KEY=
